#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_guarantcoin
#build/guarantcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_guarantcoin)

DEB_INSTALL_EXAMPLES_guarantcoind += debian/examples/*
DEB_INSTALL_MANPAGES_guarantcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix guarantcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f guarantcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake guarantcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_guarantcoin
	src/test_guarantcoin

# Ensure wrapper is set executable
binary-post-install/guarantcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/guarantcoind
binary-post-install/guarantcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/guarantcoin-qt
